
.history/*

data/
scripts/
.env
src/.env
**/__pycache__/
*.pyc
llm-adaptive-attacks/

src/attacker_v2.py

src/attacker.py

src/attacker_structured_loss.py

src/experiments_ablation.py

tests/

visual/

.codex

ABLATION_EXPERIMENTS.md

logs/

refactored_project/

.claude

eval/

learn/



baselines/

.env

.python-version

**/main.py

main.py

uv.lock

results/